
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}


.nav-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px; 
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.card-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 20px; 
}


.card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1 1 200px; 
}